{% extends 'base.html' %}
{% load i18n %}
 {% block detail %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">我的应用</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Container</h4>
              <span class="text-muted">容器总数</span>
            </div>
          </div>
          </div> -->
{% endblock %}